*.db
*.pyc
__pycache__/
.vscode/
.pio/
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README*
asf4/
nxp*/
docs/
doc/
*.md
.vscode/
__pycache__/
*.pyc
/build
*/*/.travis*
variants/STM32MP157_DK
variants/DISCO_L072CZ_LRWAN1
variants/NUCLEO_H743ZI
